name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run:|
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Cargo fmt
      run: cargo fmt --all --check
    - name: Cargo clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Run tests
      run: cargo test --verbose
